@import '../components/component-css.css';

/* variable */
.mc-img img{
    max-width: 250px;
}

a{
    text-decoration: none;
    color: #fff;
}

i.fa-star{
    padding: 30px; 
  }
/* /variable */

/* header */
header{
    background-color: #2c3e50;
}
/* /header */

/* main */

.mc-bg-sez1{
    background-color: #1abc9c;
    color: #fff;
}

.mc-color-sez2{
    color: #333333;
}
.mc-padding-bm{
    padding-bottom: 90px;
}

.mc-color-sez3{
    background-color: #1abc9c;
    color: #fff;
}
.mc-mb-btn{
    margin-bottom: 50px;
}

.mc-color-btn{
    background-color: #1abc9c;
}

.mc-padd-sez-4{
    padding: 0 90px;
}


/*/main */

/* footer */



.mc-color-foot{
    background-color: #3a546d;
    color: #fff;
}
.mc-span-bg{
    color: #1abc9c;
}

.mc-height-copyr{
    height: 110px;
}

.mc-color-copyr{
    background-color: #2c3e50;
}

.mc-pad-foot{
    padding: 0 28px;
}

/* /footer */

